
/* OPERACIONES */
/* Variables */
$separacion: 150px;
$ancho: 720px;
$blue: #4285F4;
$green: #33D374;

.box_uno {
    background-color: $blue;
    /*SINTAXIS VIEJA*/
    /*width: $ancho / 2;*/ /* Ancho de 360*/ 
    width: calc($ancho / 2);
    /**/


}
section.box_dos {
    background-color: $green;
    width: calc($ancho / 2)-50;

    margin-top: calc($separacion / 2);
}

/* EXTENDS */
.boton {
	width:200px;
	height:50px;
	background-color:white;
	text-align:center;
	color:black;
	border-radius:20px;
	border:1px solid black;
}

.boton--aceptar{
	@extend .boton;
	background-color:green;
	color:yellow;
}

.boton--cancelar{
	@extend .boton;
	background-color:red;
	color:yellow;
}

/* MIXIN CON PARÁMETROS */
/* DECLARAMOS EL MIXIN */
@mixin tamano($ancho, $alto) {
    height: $alto;
    width: $ancho;
 }

 /*USAR EL MIXIN @INCLUDE*/
 /* EL ORDEN DE LOS PARAMETROS IMPORTAAAAAAAA */
 .box {
    @include tamano(500px, 500px);
 }

 .box2 {
    @include tamano(600px, 20px)
 }

 /* MIXINS SIN PARAMETROS */
 @mixin flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.box3 {
   @include flex-row-center;
}

.box4 {
    @include flex-column;
}

/* CONDICIONAL */
/* EJEMPLO DIAPOSITIVA */
$vista: desktop;

$h1Desktop: 30px;
$parrafoDesktop: 18px;
$h1Mobile: 20px;
$parrafoMobile: 15px;

section{
@if $vista == desktop {
	@media only screen and (min-width:1024px){
        h1 { 
            font-size: $h1Desktop;
        }
        
        h3 {
            font-size:35px;
        }
        
        p {
            font-size: $parrafoDesktop;
        }
    }

	} @else if $vista == mobile {
		@media only screen and (max-width:767px){
			h1{
                font-size:$h1Mobile;
            }
			h3{
                font-size:25px;
            }
			p{
                font-size:$parrafoMobile;
            }
		}
	} @else {
		h1{font-size:34px;}
		h3{font-size:25px;}
		p{font-size:20px;}
	}
}

/* EJEMPLO PROFE */

$general: oferta;


body {
    @if $general == sinoferta {
        background-color: red;
    } @else {
        background-color: green;
    }
}

/*body {
    background-color: $general;
}*/
$h1Desktop: 30px;
$parrafoDesktop: 18px;
$h1Mobile: 20px;
$parrafoMobile: 15px;

/* BUCLES */
/* EJEMPLO 1 */
@for $i from 1 through 10 {
	.col-#{$i}{
	    width: 10% * $i;
	}
}

/* EJEMPLO 2 */
@for $i from 1 through 6 {
    h#{$i} {
        font-size: calc(100px /$i);
    }
}

/* each*/
@each $color in blue, yellow, black {
	##{$color}{
	color:#{$color};
	}
}

/* EACH + MAP */
$redesSociales: ( /*Declaramos nuestro mapa*/
        twitter: #55acee,
        facebook:  #3a5795,
        send-mail: #C25E30
); 

/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $redesSociales {
   .btn--#{$red} {
       background-color: $color;
   }
}

/* map get */
/*creo el map*/
$estilos: (
  color: #3673D9,
  centro: center,
  tFuente: 35px,
  espacio: 1rem
);

div {
  background-color: map-get($estilos, color);
  text-align: map-get($estilos, centro);
  padding: map-get($estilos, espacio);
  font-size:map-get($estilos, tFuente);
}

p {
    font-size: map-get($estilos, tFuente);
}



